body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url(boover.jpg);
}

.container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

.quote {
    font-style: italic;
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
}

input, button {
    margin: 5px 0;
    padding: 10px;
    font-size: 16px;
}

button {
    cursor: pointer;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background: #0056b3;
}

.book-list {
    margin-top: 20px;
}

.book-list ul {
    list-style: none;
    padding: 0;
}

.book-list li {
    background: #f4f4f4;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book-options {
    margin-top: 20px;
}

.book-options h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.book-options a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.book-options a:hover {
    background-color: #0056b3;
}

.online-reading {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.music-player {
    margin-top: 20px;
    text-align: center;
}

.music-player audio {
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
}
footer {
    background: #007BFF;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}